<%- include("partials/header") %>

<div class="container">
    <header class="jumbotron">
        <div>
            <h1>Welcome to KarmaSharma!</h1>
            <p>View nature pictures of all over the world.</p>
            <p>
                <a class="btn btn-primary btn-large" href="/campgrounds/new">Create New Campgrounds</a><br>
            </p>
        </div>
    </header>

    <div class="row" style="display: flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src= <%= campground.image %> alt="image">
                    <div class="caption">
                        <h4><%= campground.name %></h4>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
    <br>
</div>

<%- include("partials/footer") %>